body {
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  align-self: start;
}

input {
  height: 2rem;
}

button {
  height: 2rem;
  margin: 1rem;
}
